@font-face{
    font-family:Inter;
    src:url(../../Fonts/Inter[wght].ttf);
}
.project-main{
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
}
.project-h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-size: 3rem;
    text-transform: capitalize;
    color: #003F7D;
    text-align: center;
    line-height: 50px;
}
.projectDiv{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:462.5px;
    gap: 10px;
    ;
    border-radius: 8px;
    box-shadow: -8px 8px 20px rgba(0, 0, 0, 0.15);
}
.project-div{
    display: flex;
    width:100%;
    gap:40px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}
.project-h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 1.9rem;
    color:  #3C3C3C;
    flex: none;
    flex-grow: 0;
    width: 100%;
}
.button-div {
    display:flex;
    gap:20px;
}
.button-div .buttons{
    display: none;
}.project-p{
    color:  #3C3C3C;
}

@media (max-width: 768px) {
    .project-main .vMoreBtn{
        display: none;
    }
    .projectDiv{
        width: 400px;
        height: auto;
        box-shadow:  -8px 8px 20px rgba(0, 0, 0, 0.15);
    } 
    .projectDiv::-webkit-scrollbar{
        display:none;
    }
    .project-h1{
        font-size:1.8rem;
    }
    .project-main .project-div{
        overflow-x: auto;
        flex-wrap: wrap;
        width:100%;
        align-items: center;
        justify-content: center;
    }
    .button-div .buttons{
        display:inline-block;
    }
    .buttons:hover{
        opacity: 0.6;
        cursor: pointer;
    }
    .project-img{
        width: 300px;
    }
    .project-p{
        width: 270px;

    }
    .project-h2{
        width: 270px;
        font-size: 1.7rem;
    }
}