@font-face{
    font-family:Inter;
    src:url(../../Fonts/Inter[wght].ttf);
}
.project-main{
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
}
.project-h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 3rem;
    text-transform: capitalize;

    color: #D9D0D0;
}
.projectDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:334px;
    height:auto;
    gap: 10px;
    margin:0;
}
.project-div{
    display: flex;
    width:100%;
    gap:40px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}
.project-h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    color: #FFFFFF;
    flex: none;
    flex-grow: 0;
    width: 100%;
}
.button-div {
    display:flex;
    gap:20px;
}
.button-div .buttons{
    display: none;
}

@media (max-width: 768px) {
    .project-main .vMoreBtn{
        display: none;
    }
    .projectDiv{
        width: 400px;
        height: auto;
    } 
    .projectDiv::-webkit-scrollbar{
        display:none;
    }
    .project-h1{
        font-size:2rem;
    }
    .project-main .project-div{
        overflow-x: auto;
        flex-wrap: nowrap;
        width:100%;
        align-items: center;
        justify-content: center;
    }
    .button-div .buttons{
        display:inline-block;
    }
    .buttons:hover{
        opacity: 0.6;
        cursor: pointer;
    }
    .project-img{
        width: 300px;
    }
    .project-p{
        width: 300px ;
    }
    .project-h2{
        width: 300px;
        font-size: 1.7rem;
    }
}