@font-face{
    font-family:Inter;
    src:url(../../Fonts/Inter[wght].ttf);
}
.testimonial-h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-size: 3rem;
    text-transform: capitalize;
    color: #003F7D;
    text-align: center;
}
.testimonial-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:0px;
    width: 100%;
}
.testimonial-div .v-Button{
    display:none;
}
.person-div{
    display: flex;
    width:90%;
    align-items: center;
    gap:10px;
    margin-right: 20px;
}
.testimonial-img{
    width: 50%;
    height: 100%;

}
.intestimonial-div{
    display: flex;
    width: 90%;
    height: 400px;
    margin: 0rem 1rem;
    overflow:auto;
}
.intestimonial-div::-webkit-scrollbar{
    display:none;
}
.testimony-div{
    width: 400px;
}
.testimony-div .testimony-name{
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    width: 100%;
    color: #282828;
}
.testimony-position{
    width: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 0.8rem;
    color: #505050;
}
.testimony{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 0.5rem;
    text-transform: capitalize;
    color: #646464;
}
.testimony-arrow{
    display: flex;
    gap: 20px;
}
.arrowBtn{
    cursor: pointer;
}
.arrowBtn:hover{
    opacity: 0.6;
}
@media (max-width: 768px) {
    .person-div{
        align-items:center;
        width: 400px;
    }
    .intestimonial-div{
        gap:20px;
        width: 100%;
        align-items: center;
        flex-wrap:nowrap;
        justify-content: center;
    }
    .testimonial-img{
        width: 200px;
    }
    .testimony-div{
        margin-left: 1rem;
    }
    .testimonial-div{
        padding: 0 1rem;
    }
    .testimonial-h1{
        font-size: 2rem;
        width:100%;
    }
    .arrowBtn{
        display:block;
    }
    .testimonial-div .v-Button{
        display:none ;
    }
    .testimony-name{
        font-size: 1.6rem;
    }
    .testimony-position{
        font-size: 1rem;
        font-weight: 500px;
    }
    .testimony{
        font-size: 0.8rem;
        width: 180px;
    }
}